<?xml version="1.0" encoding="UTF-8" ?>
    <widget xmlns = "http://www.w3.org/ns/widgets"
        xmlns:gap = "http://phonegap.com/ns/1.0"
        id        = "io.galbar.wvwtimers"
        versionCode="2" 
        version   = "3.1.0">
    <name>WvW Timers</name>

    <description>
        An aplication that shows the invulnerability buff time for recently captured structures in World vs World (Guild Wars 2).
    </description>

    <author href="https://github.com/Galbar/" email="alessio.linares2@gmail.com">
        Alessio Linares
    </author>
    
    <preference name="phonegap-version" value="2.9.0" />
    <preference name="target-device" value="universal" />
    <preference name="orientation" value="default" />
    <preference name="fullscreen" value="false" />
    <preference name="detect-data-types" value="false" />
    <preference name="exit-on-suspend" value="false" />
    <preference name="splash-screen-duration" value="3000" />
    <preference name="permissions" value="none"/>
    <gap:splash src="icon-2.png"/>
    <icon src="icon.png" />
    
    </widget>
