.score-bar
{
	margin-bottom: 1px;
}
.GreenTeamColor
{
	color: #5eb95e;
}

.BlueTeamColor
{
	color: #4bb1cf;
}

.RedTeamColor
{
	color: #dd514c;
}

.NoTeamColor
{
	color: #333;
}

.map-all td
{
	vertical-align: middle;
}

[class^="objective-"],
[class*=" objective-"]
{
	position: relative;
	top: 7px;
	display: inline-block;
	height: 10px;
	width: 10px;
	padding: 6px;
	border: solid 1px black;
	margin: 0px 5px;
	margin-top: -7px;
	background: no-repeat center;
	-webkit-border-radius: 14px;
	   -moz-border-radius: 14px;
			border-radius: 14px;
}

.objective-Green
{
	background-color: #5eb95e;
}

.objective-Blue
{
	background-color: #4bb1cf;
}

.objective-Red
{
	background-color: #dd514c;
}

.castle
{
	background-image: url("img/castle.png") ;
}

.keep
{
	background-image: url("img/keep.png");
}

.tower
{
	background-image: url("img/tower.png");
}

.camp
{
	background-image: url("img/camp.png");
}